.openapi-generator
api
model
sdk
!dist/api
!dist/model
!dist/sdk
node_modules
.gitignore
.npmignore
.openapi-generator-config.json
.openapi-generator-ignore
.prettierrc
*.tgz
openapi-generator-generate.sh
tsconfig.json
yarn.lock
.github